<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport"
	content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width" />
<title>Login Demo - Kakao JavaScript SDK</title>
<script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>

</head>
<body>
	<!-- 로그인 버튼 -->
	<a id="kakao-login-btn"></a>
	<a href="http://developers.kakao.com/logout"></a>

	<!-- 로그아웃버튼 -->
	<a id="kakao-login-btn"></a>
	<input type="button" value="카카오톡 로그아웃" onclick="ktout()">

	<form name="test" action="/kakao/login" method="post">
		<input type="hidden" name="PsgName" value=""> <input
			type="hidden" name="PsgEmail" value="이메일">
	</form>
	<script type="text/javascript">
		var name;
		var email;
		// 사용할 앱의 JavaScript 키를 설정해 주세요.
		Kakao.init('39de6d52f3a5b6635bed9ac5330fdba9');
		// 카카오 로그인 버튼을 생성합니다.

		Kakao.Auth.createLoginButton({
			container : '#kakao-login-btn',
			success : function(authObj) {
				// 로그인 성공시, API를 호출합니다.
				Kakao.API.request({
					url : '/v1/user/me',
					success : function(res) {
						// alert(JSON.stringify(res)); //<---- kakao.api.request 에서 불러온 결과값 json형태로 출력              
						alert("이름:" + res.properties.nickname + "\n" + "이메일:"
								+ res.kaccount_email);
						alert(res.properties.nickname + "님 환영합니다.");

						name = res.properties.nickname;
						email = res.kaccount_email;

						document.test.PsgName.value = name;
						document.test.PsgEmail.value = email;
						document.test.submit();
					},
					fail : function(error) {
						alert(JSON.stringify(error));
					}
				});

			},
			fail : function(err) {
				alert(JSON.stringify(err));
			}
		});

		function ktout() {

			Kakao.Auth.logout(function() {

				setTimeout(function() {
					location.href = "logout"
				}, 3000);
			});
		}

		document.test.PsgName.value = name;
		document.test.PsgEmail.value = email;
	</script>
</body>
</html>
